* {
    box-sizing: border-box;
    font-family: 'ABeeZee', sans-serif;
}

section {
    height: 100vh;
}
.primera {
    padding-top: 8%;
    text-align: center;
    background-color: RGB(203,241,244);
    background-image: linear-gradient(rgb(203,241,244) , rgb(249,219,211));
    /*background-image: url('images/background.png');*/
    background-position: right bottom;
    background-size: contain;
}
.titulo {
    font-family: "Satisfy", cursive; 
    font-size: 4.0em;
    color:  rgb(51, 0, 128); 
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;

    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;

    top: 65vh;
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {top: 100vh;}
    to {top: 65vh;}
  }
  
  /* Standard syntax */
  @keyframes example {
    from {top: 100vh;}
    to {top: 65vh;}
  }
.nombreseccion {
    font-family: "Satisfy", cursive;
    font-size: 3.0em;  
    background-color: RGB(203,241,244); 
    margin-left: 2%; 
}
.logo {
    width: 20%;
    min-width: 360px;
}
.colorrosa {
    color: rgb(249,219,211);
}
.colorceleste {
    color: rgb(146,221,226);
}
.colorverde {
    color: rgb(203,241,244);
}
body {
    margin: 0;
    background-color: RGB(249,219,211);
}

.menu {
    z-index: 100;
    background-color: RGB(203,241,244);
    padding: 10px 0;
    position: fixed; 
    width: 100%; 
}

.item {
    width: 25%;
    float: left;
    text-align: center;
    color: rgb(0,0,0); 
    text-decoration: none; 
    text-transform: uppercase;
}   
 
.item:hover {
    color:  rgb(51, 0, 128); 
}

.card-image > img {
    width: 100%; 
    height: 100%;
    max-height: 320px;
    object-fit: cover;
}